@{
    ViewData["Title"] = "About Me";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <h3>Professional Summary</h3>
        <p>
            Junior .NET Developer with a Bachelor of Science in Computer Science and Information Systems,
            passionate about building scalable software solutions and exploring the potential of machine learning and
            artificial intelligence to solve real-world challenges
        </p>

        <h3>Education</h3>
        <p>
            <strong>Bachelor of Science in Computer Science and information Systems</strong><br>
            University Of Venda, 2024
        </p>

        <h3>Experience</h3>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">ADVANCED SOFTWARE DEVELOPMENT INTERN</h5>
                <h6 class="card-subtitle mb-2 text-muted">UNIVERSITY OF LIMPOPO (2024 - 2025)</h6>
                <p class="card-text">

                    • Multiplatform Application development, C# ,. NET, Agile SDLC, digital social innovation<br>
                    • Developed and maintained web applications using ASP.NET Core and SQL Server<br>
                    • Implemented responsive front-end designs using HTML,XAML, CSS, and JavaScript<br>
                    • Collaborated with cross-functional teams to deliver projects on schedule

                </p>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">SOFTWARE DEVELOPER </h5>
                <h6 class="card-subtitle mb-2 text-muted">ORZOFLASH (Pty)Ltd (06/2025 – ongoing)</h6>
                <p class="card-text">

                    •Built and supported responsive web apps using ASP.NET Core MVC and ASP.NET Razor Pages.<br>
                    •Collaborated with teams to design and implement new features.<br>
                    •Participated in code reviews and improved development workflows.<br>
                    •Explored emerging tech trends, including ML and AI integration.
               
                </p>
            </div>
        </div>


    </div>
  
</div>