@{
    ViewData["Title"] = "About Me";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <h3>Professional Summary</h3>
        <p>
            I am a passionate developer with a focus on building web and mobile applications using ASP.NET and .NET MAUI technologies.
            With a strong foundation in software engineering principles, I create efficient, scalable, and user-friendly applications.
        </p>

        <h3>Education</h3>
        <p>
            <strong>Bachelor of Science in Computer Science and information Systems</strong><br>
            University Of Venda, 2024
        </p>

        <h3>Experience</h3>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Software Developer</h5>
                <h6 class="card-subtitle mb-2 text-muted">UNIVERSITY OF LIMPOPO (2024 - 2025)</h6>
                <p class="card-text">

                    • Multiplatform Application development, C# ,. NET, Agile SDLC, digital social innovation<br>
                    • Developed and maintained web applications using ASP.NET Core and SQL Server<br>
                    • Implemented responsive front-end designs using HTML,XAML, CSS, and JavaScript<br>
                    • Collaborated with cross-functional teams to deliver projects on schedule

                </p>
            </div>
        </div>


    </div>
  
</div>